.container {
    width: 100%;
    min-height: 100vh;
    background-color: red;
}

.container-inner {
    max-width: 992px;
    background-color: blue;
    min-height: 100vh;
    margin: 0 auto;
}

.posts-container {
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.img {
    width: 300px;
    height: 280px;
}

.header {
    text-align: center;
}